body{
    background-color: #f2f4f7;
}

.nav-item a{
    color: #0064fa;
}

.nav-item a:hover{
    color:red;
}

.btn-add{
    background-color: #2fb553;
    color: white;
    border-style: none;
    height: 35px;
    width: 310px;
    border-radius: 5px;
}

.btn-add:hover{
    background-color: #27ab4a;
}

.footer{
    padding: 20px;
}

.product{
    border: 1px solid #bbbdbb;
    margin: 15px 19px 15px 19px;
    padding: 10px;
    text-align: center;
    background-color: #efefef;
}

.container{
    width: 65%;
    text-align: center;
}

.btn-checkout{
    background-color: #1fc44b;
    color: white;
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-checkout:hover{
    background-color: #2cb04f;
    color: white;
    padding: 5px;
    width: 20%;
    border-radius: 5px;
    text-decoration: none;
}

.table-container{
    margin: auto;
    margin-top: 50px;
    width: 70%;
    border-style: solid;
    border-width: 1px;
    border-color: #bbbdbb;
    box-shadow: 8px 8px 5px #dbdbdb;
    text-align: center;
    padding: 20px;
}

.link-remove{
    color: red;
    text-decoration: none;
}
.link-remove:hover{
    color: #d42026;
}

.footer{
    padding: 20px;
}