body{
    background-color: #f2f4f7;
}

.nav-item a{
    color: #0064fa;
}

.nav-item a:hover{
    color:red;
}

input[type=submit]{
    border-radius: 25px;
    border-style: none;
    background-color: #0064fa;
    padding: 10px;
    color: white;
}

input[type=submit]:hover{
    background-color:#3573f0;
}

.footer{
    padding: 20px;
}

.product{
    border: 1px solid #bbbdbb;
    margin: 15px 19px 15px 19px;
    padding: 10px;
    text-align: center;
    background-color: #efefef;
}

.container{
    width: 65%;
    text-align: center;
}

.btn-checkout{
    background-color: #1fc44b;
    color: white;
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-checkout:hover{
    background-color: #2cb04f;
    color: white;
    padding: 5px;
    width: 20%;
    border-radius: 5px;
    text-decoration: none;
}

.footer{
    padding: 20px;
}